{%load static%}
{%if user.is_authenticated%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>My Dairy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{%static 'home/styles/css/index.css'%}">

    <style type="text/css">
    	body{
    background-color: #152733;
    margin: 0px;
}
    </style>
</head>
<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="{%url 'Addpost'%}"><big>Write Memory</big></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'profile'%}"><big>Profile</big></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'editpost'%}"><big>My Posts</big></a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="{%url 'printpdf'%}"><big>Print A Book</big></a>
      </li>

		 <li class="nav-item">
        <a class="nav-link" href="{%url 'viewpost'%}"><big>View memories</big></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{%url 'Aboutus'%}"><big>About Us</big></a>
      </li>
      
    </ul>
  <a href="{%url 'logout'%}" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-log-out"></span> Log out ❮
        </a>
  </div>
</nav>
		

		{%for i in databasekey%}
		{%if databasekey.count == 0 %}

		<div class="container">
			<div class="row">
				<h2 class="h-2 text-light"> There is no Posts available :-)</h2>
			</div>
		</div>
		{%else%}

		<div class="card" style="background-color: #152733;">
		<div class="card-body text-light">
			<div class="card-header">
			<b>Author : </b> {{i.username}}	
		</div>
			<br>
			<div class="card-text">
			{{i.description|safe}}	
			<hr class="bg-light">
			</div>	
		</div>
		{%endif%}

		{%endfor%}

		</div>

<div class="continer ">
	<div class="row my-5  ">
		<div class="col-md-6 offset-md-6 text-light">
			<p> Page number : {{databasekey.number}}/ {{databasekey.paginator.num_pages}} </p>

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">

    	{% if databasekey.has_previous%}
      <a class="page-link" 
      href="{%url 'viewpost' %}?page={{databasekey.previous_page_number}}"	>Previous</a>
    	{%endif%}
    </li>
    {%for num_page in databasekey.paginator.page_range %} 
    <br>
    {%if databasekey.number == num_page%}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="{%url 'viewpost' %}?page={{num_page}}">{{num_page}}</a>
    </li>
    {%else%}
     <li class="page-item " aria-current="page">
      <a class="page-link" href="{%url 'viewpost' %}?page={{num_page}}">{{num_page}}</a>
    </li>
    {%endif%}
    <br>
    {%endfor%}
   
    <li class="page-item">
    	{% if databasekey.has_next%}
      <a class="page-link" href="{%url 'viewpost'%}?page={{databasekey.next_page_number}}">Next</a>
    	{%endif%}
    </li>
  </ul>
</nav>


		</div>
	</div>
</div>


			</body>
			<script src="/static/ckeditor/ckeditor-init.js" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
<script src="/static/ckeditor/ckeditor/ckeditor.js"></script>

`		
		 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	

{%else%}
<b>please login</b>
<script type="text/javascript">
	var path = "http://localhost:8000/login/";
	window.open(path);
</script>

{%endif%}

</html>
