{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'home/styles/css/index.css'%}">
</head>
<style type="text/css">
	.card-image{
		background-image: url("{%static '/home/styles/images/profileavathar.png'%}");
	}
</style>

<body>
	<div class="container">
			<div class="heading">
				<h1>Page of Memories &#9998;</h1>
			</div>
			
		<div class="card-form"> 
			<div class="form-container">
				<form class="form" action="{%url 'login'%}" method="POST"  enctype="multipart/form-data">
					{%csrf_token%}
 						<div class="ir"> <h1>Login</h1></div>

					<div class="card-image" >
					</div>
					{%for i in messages%}
						<h3 class="error-msg">{{i.message}}</h3>
					{%endfor%}
					<label> Email</label>
					<input class="inputfields"  placeholder="Enter your Email" required name="username">
					<label> Password</label>
					<input class="inputfields"type="password" placeholder="Enter your Password" required name="password1">
					
					<button class="submit-btn" type="submit">Login </button> <br>
					<div class="irc"><h4 class="ir"> I'm a new user</h> <a href="{%url 'Register'%}">Click here </a></div>

					<div class="irc"><h4 class="ir"> Forget Password</h> <a href="{%url 'forget-password'%}">Click here </a></div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
